<!DOCTYPE html>
<html>
    <head>
        <title>Reportes</title>
        <meta charset="utf-8">
    </head>
    <body>

        <app-barra-navegacion></app-barra-navegacion>

        <app-btns-tablas-reportes></app-btns-tablas-reportes>

        <div class="buscador"  *ngIf="reportes.length">
            <input type="text" name="busqueda" placeholder="Buscar" [(ngModel)]="busqueda">
        </div>
        
        <div class="div-tabla">
            <table class="tabla">
                <tr class="cabecera">
                    <th>Folio</th>
                    <th>Puntos de credibilidad</th>
                    <th>Fecha de creación</th>
                    <th class="acciones">Detalles</th>
                    <th class="acciones">Cambiar estado</th>
                </tr>
                <tr *ngFor="let reporte of reportes | busquedaReportes: busqueda">
                    <td>{{ reporte._id }}</td>
                    <td>{{ reporte.credibilidad }}</td>
                    <td>{{ reporte.fechaCreacion | date:'dd-MM-yyyy' }}</td>
                    <td class="acciones"><a class="imagen-especial">Ver más</a></td>
                    <td class="acciones">
                        <button class="boton-aceptar" (click)="cambioEnProceso(reporte);">En proceso</button>
                        <button class="boton-eliminar" (click)="cambioDenegado(reporte);">Denegado</button>
                    </td>
                </tr>
            </table>
        </div>


        <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button> -->

   

<!-- <ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    This is example from ItSolutionStuff.com
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template> -->


        <div>
            <h3>Ordenar por</h3>

                <select name="" id="" [(ngModel)]="seleccionado" (change)="onSelect($any($event.target).value )">
                    <option value="">Selecciona una opción</option>
                    <option *ngFor="let o of orden" value="{{o}}" >
                        {{o}}
                    </option>
                    <!-- <option value="reciente">Más reciente</option>
                    <option value="antiguos">Antiguos</option>
                    <option value="urgentes">Más urgentes</option>
                    <option value="noUrgentes">Menos urgentes</option> -->
                </select>


        </div>

        <div class="div-tabla" *ngIf="!reportes.length">
            <h1>No hay reportes desatendidos</h1>
        </div>

     </body>
 
 </html>
