<div class="barNav">

    <div class="float-left">
        <app-menu-desplegable></app-menu-desplegable>

        <div class="logo-nombre" (click)="inicio()">
            <!-- "Nombre del sistema" -->
            <img src="" alt="MapHop" width="80px">
        </div>
    </div>

    <div class="float-right">
        <button class="boton-registrarte" *ngIf="paginaInicio==true" (click)="registrarte()">Registrarte</button>
    </div>

    <app-notificaciones *ngIf="paginaInicio==false"></app-notificaciones>
</div>