<!DOCTYPE html>
<html>
    <head>
        <title>Reportes</title>
        <meta charset="utf-8">
    </head>
    <body>

        <app-barra-navegacion></app-barra-navegacion>

        <app-btns-tablas-reportes></app-btns-tablas-reportes>

        <div class="buscador"  *ngIf="reportes.length">
            <input type="text" name="busqueda" placeholder="Buscar" [(ngModel)]="busqueda">
        </div>
        
        <div class="div-tabla">
            <table class="tabla">
                <tr class="cabecera">
                    <th>Folio</th>
                    <th>Puntos de credibilidad</th>
                    <th>Fecha de creación</th>
                    <th class="acciones">Detalles</th>
                    <th class="acciones">Cambiar estado</th>
                </tr>
                <tr *ngFor="let reporte of reportes | busquedaReportes: busqueda">
                    <td>{{ reporte._id }}</td>
                    <th>{{ reporte.credibilidad }}</th>
                    <td>{{ reporte.fechaCreacion | date:'dd-MM-yyyy' }}</td>
                    <td class="acciones"><a class="imagen-especial" (click)="openCentrado(contenido, reporte)">Ver más</a></td>
                    <td class="acciones">
                        <button class="boton-aceptar" (click)="cambioSolucionado(reporte);">Solucionado</button>
                        <button class="boton-eliminar" (click)="cambioDenegado(reporte);">Denegado</button>
                    </td>

                    <ng-template #contenido let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title">Reporte <b>{{reporte._id}}</b> </h4>
                            <button class="" aria-label="close" type="button" (click)="modal.dismiss()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div> 
                        <div class="modal-body"> 
                          <h5> <b>Tipo de problema: </b> {{reporte.tipoProblema}} <br></h5>
                          <h5> <b>Estado: </b>   {{reporte.estado}} <br></h5>
                          <h5> <b>Fecha de creación: </b>  {{reporte.fechaCreacion | date:'dd-MM-yyyy'}} <br></h5>
                          <h5> <b>Comentarios: </b> <br></h5>
                          <p *ngIf="reporte.comentario == ''" >   No hay comentarios  <br></p>
                          <p *ngIf="reporte.comentario.length > 0">   {{reporte.comentario}}  <br></p>
                          <h5> <b>Usuarios que lo reportaron:</b> </h5>
                          <table class="tablaUsuariosDentroReporteInfo table table-bordered row-border hover">
                            <thead>
                              <tr>
                                <th>Idenficador</th>
                                <th>Nombre</th>
                                <th>Reputación</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let u of usuariosInfo">
                                <td>{{u._id}}</td>
                                <td>{{u.nombreUsuario}}</td>
                                <td>{{u.reputacion}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </ng-template>

                </tr>
            </table>
        </div>

        <div class="div-tabla" *ngIf="!reportes.length">
            <h1>No hay reportes en proceso</h1>
        </div>

     </body>
 
 </html>
