<!DOCTYPE html>
<html>
    <head>
        <title>Conoce Más</title>
        <meta charset="utf-8">
    </head>
    <body>

        <app-barra-navegacion></app-barra-navegacion>
        
        <h1>¿Qué es "Nombre del sistema"?</h1>
        <p>"Nombre del sistema" es un sistema dedicado a la conexión entre usuarios e instituciones para poder mejorar el sistema de reportes de vialidad pública de la ciudad de Guadalajara, facilitando el proceso a los usuarios, buscando lograr de esta manera, que la gente realice los reportes sin ningun problema, de forma práctica y rápida.</p>

        <h1>¿Quiénes somos?</h1>
        <p>Estudiantes Tecnólogos de 8vo semestre de la carrera de Desarrollo de Software del Centro de Enseñanza Técnica Industrial plantel Colomos, buscando crear un proyecto de titulación en el semestre del periodo agosto-diciembre 2021.</p>

        <table class="imagenes">
            <td>
                <div>
                    <img src="../../../../assets/Pexels Valdemaras 1683724.jpg" alt="">
                    <h3>Saul Landeros</h3>
                    <p>Tecnólogo en Desarrollo de Software</p>
                </div>
            </td>
            <td>
                <div>
                    <img src="../../../../assets/pexels-steve-johnson-1068872.jpg" alt="">
                    <h3>Julio Sánchez</h3>
                    <p>Tecnólogo en Desarrollo de Software</p>
                </div>
            </td>
        </table>

    </body>

</html>