<!DOCTYPE html>
<html>
    <head>
        <title>Registrarte</title>
        <meta charset="utf-8">
    </head>
    <body>

        <app-barra-navegacion></app-barra-navegacion>

        <app-btns-tablas-usuarios></app-btns-tablas-usuarios>

        <div class="buscador">
            <input type="text" placeholder="Buscar" class="grupo-botones">
        </div>
        
        <div class="div-tabla">
            <table class="tabla">
                <tr class="cabecera">
                    <th>Id</th>
                    <th>Nombre de Usuario</th>
                    <th>Fecha de Registro</th>
                    <th>Institución</th>
                    <th>Contraseña</th>
                    <th class="acciones">Acciones</th>
                </tr>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{ usuario._id }}</td>
                    <th>{{ usuario.nombreUsuario }}</th>
                    <td>{{ usuario.createdAt | date:'dd-MM-yyyy' }}</td>
                    <td>{{ usuario.institucion }}</td>
                    <td>{{ usuario.contrasena }}</td>
                    <td>
                        <button class="boton-eliminar">Eliminar</button>
                    </td>
                </tr>
            </table>
        </div>

     </body>
 
 </html>
